body {
    font-family: Arial, sans-serif;
    margin: 20px;
    
}

.centered-div {
    display: flex;
    justify-content: center;
    text-align: center; 
    padding: 20px; 
    border: 1px solid #ccc; 
    font-weight: 900;
    font-size: larger;
    
  }


.current{
   background-color: #EB8034;
}

#quiz-container {
   
    display: flex;
    flex-direction: row;
}


#row-container{
    display: flex;
}





#employee{
    padding-right:20px
}



#submit-btn {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.nav-btn {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}



.number {
    width: 15px;
    height: 15px;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 3px;
    cursor: pointer;
    display: flex;
}






.red-section{
    background-color:red
}

.green-section{
    background-color: green;
}

.purple-section{
    background-color: purple;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    color: white;
    background-color: #3583CD;
}


.header2{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    color: black;
    justify-content: space-between;
}

#section-container {
    display: flex;
    padding-left: 15px;
}

.section {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}



#exam-name{
    padding: 20px;
}

.div-circle {
    width: 5x; /* Adjust the size as needed */
    height: 5px; /* Same as width to create a perfect circle */
    background-color: #3498db; /* Set the background color */
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
}

#attempts{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding :15px;
    font-size:14px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
     /* Display an ellipsis (...) for overflow */
}

.attempts-row{
    display: flex;
    align-items:  center;
}

.attempts-ind{
    display: flex;
    flex: 1;
    padding-left: 10px;
}



#container {
    display: flex;
   
    height:80vh;
    width: 100%;
    margin-top: 20px;
}


.btn-container{
    height: 100%;
    border: 2px solid #000;
    border-radius: 5px;
    align-items: center;
    margin-left: auto;
    background-color: #fff;
    margin-right: 3px;
    margin-top: 0px;
    /* flex: 1; */
    width: 25%;
    height: 100%;
    overflow-y: auto;
}

#box {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-wrap: wrap;
}

.questionHeader{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
}

.questionContainer{
    margin-left: 20px;
    flex: 1;
    height: 30vh;
}

.arrow{
    flex: 1;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: #007bff;
}

#question{
    text-align: center;
    margin-top:20px;
    font-size:40;
    padding-top: 20px;
    font-weight: 300;
    background-color: white;
    height: 100%;
}


#attempts{
    display: flex;
    
}


#sectionName{
    align-content: center;
    text-align: center;
    border: 1px solid black;
}


#optionContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
    margin-right:20px;
    align-content: center;
    height: 100%;
}

#options{
    padding-right: 20px;
    background-color: white;
    margin-top: 20px;
    text-align: left;
    height: 60%;
}




.optionTextContainer{
    display: flex;
    margin: 20px;
    cursor: pointer;
}

.alphabet-list{
    list-style-type: none;
}

#optionName{
    text-align: center;
    padding: 20px;
    background-color: white;
}

#questionName{
    display: flex;
    align-content: center;
    text-align: center;
    padding: 20px;
    background-color: white;
}









.numbero{
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size:15px;
    cursor: pointer;
    display: flex;
    margin-right: 30px;
}


#footer{
    display: flex;
    padding-left:20px;
    margin-top:10px;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: white;
}

.foot{
    flex: 1;
    display: flex;
    justify-content: center; 
}



.foot-btn{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; /* Add this line to horizontally center the content */
    margin-right: 3px;
    margin-top: 0px;
    width: 25%;
}

.foot-btn-div{
    background-color: #007bff;
    text-align: center;
    width: 30%;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size:15px
}

#exam-name{
    margin-left: 10px;
}